<h1>UNCC's Latest News</h1>
<p>
    Bojan Cukic, the Dean of the College of Computing and Informatics at UNC Charlotte,
  is a collaborative leader and prolific researcher committed to advancing the state's largest computing college.
  He became dean in December 2022, having previously served as chair of the Department of Computer Science since 2014.
  Cukic was drawn to UNC Charlotte due to its exceptional commitment to student success, passionate faculty, and supportive
  environment. He values integrity, vision, and empathy in his leadership style, emphasizing the importance of transparent
  communication, understanding diverse perspectives, and having a clear direction for progress in the rapidly evolving fields of
  computing and technology.

    Cukic believes that leading with empathy and taking risks to implement change are essential for institutional growth.
  He emphasizes the need for larger computing programs to meet the demands of a growing business community, noting that
  UNC Charlotte's program is now among the top 10 in the nation. Cukic also enjoys Mediterranean food, iced tea, and reading
  "The Name of the Rose" by Umberto Eco. In his free time, he loves playing with his rescue dog, traveling, and experiencing
  new places, often through the lens of his research and academic opportunities in the global educational and tech field.</p>
  <h3>https://inside.charlotte.edu/2024/10/23/meet-bojan-cukic-dean-of-the-college-of-computing-and-informatics/</h3>
  <p>
    My project uses a MEAN stack. It uses mongodb as a database service.  It uses express and Nodejs for the back end and it uses
    angular as the front end.
  </p>
